<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ecuavías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <img src="assets/images/logo.jpeg" alt="Logo Ecuavías" class="logo" />

    <h1>Inicio de Sesión</h1>

    <form>
      <ion-item>
        <ion-label position="stacked">Correo Electrónico</ion-label>
        <ion-input type="email" placeholder="Ingresa tu correo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password" placeholder="Ingresa tu contraseña"></ion-input>
      </ion-item>

      <ion-button expand="block" class="login-button" type="submit" (click)="login()">Iniciar Sesión</ion-button>        
    </form>

    <div class="extra-links">
      <ion-text>
        <a href="/src/app/pages/auth/login/login.page.html">¿Has olvidado tu contraseña?</a>
      </ion-text>
      <ion-text>
        <a href="/src/app/pages/auth/login/login.page.html">¿Aún no tienes cuenta? Regístrate</a>
      </ion-text>
    </div>
  </div>
</ion-content>
