<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Selección de calidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="icon-container">
    <img src="assets/images/fondo.jpg" />

    <ion-card *ngIf="selectedFrequency">
      <ion-card-content>
        <h3>IDA SELECCIONADA</h3>
        <p>{{ selectedFrequency.origin }} - {{ selectedFrequency.destination }}</p>
        <p>Fecha: {{ selectedFrequency.departure_time | date: 'short' }}</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Condiciones de clase</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Normal</p>
        <ion-icon name="wifi"></ion-icon> Wifi gratis
        <p>+0 US$</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Asientos seleccionados</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let seat of seats" (click)="selectSeat(seat)">
            <ion-label>
              <h2>{{ seat.type }}</h2>
              <p>{{ seat.status ? 'Disponible' : 'Ocupado' }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-footer>
      <ion-button expand="full" color="black" (click)="goToPayment()">Pagar</ion-button>
    </ion-footer>
  </div>
</ion-content>
